.card_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  border-radius: 20px;
  background: var(--White, #fff);
  padding: 24px;
  margin-bottom: 1.5243902439%;
  width: 32.31%;
}

.card_header {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 24px;
}
.card_name {
  grid-column: 1/10;
}
.card_brand {
  margin-top: 8px;
  grid-column: 1/10;
}
.trash_icon {
  grid-column: 12/13;
  cursor: pointer;
}

.card_details {
  grid-column: 1/13;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}
.card_year {
  grid-row: 1;
  border-right: 1px solid var(--Gray-80, #ccc);
}
.card_size {
  grid-row: 1;
  border-right: 1px solid var(--Gray-80, #ccc);
  padding-left: 16px;
}
.card_price {
  grid-row: 1;
  padding-left: 16px;
}
.subhead {
  font-weight: 700;
}

@media screen and (max-width: 50.625em) {
  .card_container {
    margin-bottom: 8px;
    width: auto;
  }
}
