.main_wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.38888888889%;
  /* flexible spacing */
  padding: 3.7037037037% 6.61375661376% 7.93650793651% 6.61375661376%;
}

.main_title {
  grid-column: 1/8;
}
/* wraps search and button */
.main_search {
  grid-column: 8/13;
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
  display: flex;
}

.main_btn {
  grid-column: 10/13;
}
/* custom button */
.btn_widescreen {
  margin-left: 1.49532711%;
  width: 43.8432835821%;
}

.main_img {
  margin-top: 95px;
  grid-column: 3/11;
  margin-bottom: 3em;
}
.main_text {
  grid-column: 1/13;
}
.main_sneaker_cards {
  display: flex;
  grid-column: 1/13;
  flex-wrap: wrap;
  gap: 1.5243902439%;
  /* fix after adding sorting buttons */
  margin-top: 118px;
}

@media screen and (max-width: 75.75em) {
  .main_search {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .btn_widescreen {
    margin-left: 0;
    width: 70%;
  }
}
/* Ipad OS 14.7.1 and below */
@media screen and (max-width: 50.625em) {
  .main_wrapper {
    /* flexible spacing */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 9.03225806452vh 2.36559139785vh 6.02150537634vh 2.36559139785vh;
    grid-column-gap: 0;
  }
  .main_title {
    grid-column: 1/13;
    margin-bottom: 1em;
  }

  /* only wraps search bar */
  .main_search {
    gap: 0;
    display: block;
    grid-column: 1/13;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* add to main search on empty state */
  .mb_large {
    margin-bottom: 122px;
  }
  .main_img {
    margin-top: 0;
    grid-column: 1/13;
  }
  .main_text {
    grid-column: 1/13;
    margin-bottom: 195px;
  }
  .main_btn {
    grid-column: 1/13;
  }
  .btn_fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    /* pb from design 6.00858369099vh */
    padding: 1.71673819742vh 2.36559139785vh 3.00429184549vh 2.36559139785vh;
    border-top: 1px solid #a9b5bc;
    background: var(--White, #fff);
  }
  .main_sneaker_cards {
    margin-top: 5.58139534884%;
    display: block;
    flex-wrap: nowrap;
    grid-column: 1/13;
  }
}
