.btn_container {
  display: flex;
  justify-content: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  /* padding: 0.75rem 1rem; */
  border: none;
  background: #191919;
  border-radius: 0.75em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  /* grid */
  grid-column: 2;
  margin-left: 1.49532711%;
}

.btn {
  color: #ffffff;
}
.ml_8 {
  margin-left: 0.5rem;
}
.mr_8 {
  margin-right: 0.5em;
}
.input_search_container {
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-80, #ccc);
  background: var(--white, #fff);
  padding: 0.75rem 1rem;
  /* grid */
  grid-column: 1;
  margin-right: 1.49532711%;
}

.image_container {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.6);
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 1.38888888889%;
}
.modal {
  grid-column: 10/15;
  background: var(--White, #fff);
  padding-top: 72px;
  padding-right: 48px;
  padding-left: 48px;
}
.modal_header {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  column-gap: 2.22222222222%;
  margin-bottom: 48px;
}
.modal_heading {
  font-family: var(--font-boxing);
  line-height: 100%;
  grid-column: 1/15;
  font-size: 2.25rem;
}
.icon_close {
  cursor: pointer;
  grid-column: 15;
}
@media screen and (max-width: 75.75em) {
  .input_search_container {
    grid-column: initial;

    margin-right: 0;
  }
  .btn_container {
    grid-column: initial;
    margin-left: 0;
  }
  .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.6);
    z-index: 1000; /* Ensure the modal is on top of other content */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.86046511628%;
  }
  .modal {
    grid-column: 1/5;
    background: var(--White, #fff);
    margin-left: 22px;
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .modal_header {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    column-gap: 2.22222222222%;
    margin-bottom: 48px;
  }
  .icon_close {
    cursor: pointer;
    grid-column: 15;
  }
  .modal_heading {
    grid-column: 1/15;
  }
}
